body {
  padding: 0;
  margin: 0;
  font: 14px Arial, sans-serif;
  color: #333333;
  background-image: url("../images/bg.jpg");
  background-size: cover; }

html, body, .wrapper {
  height: 100%; }

.wrapper {
  min-height: 100%; }

.wrapper {
  max-width: 1024px;
  margin: 0 auto; }

.main {
  display: flex;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.15); }

@media (max-width: 780px) {
  .main {
    display: block !important;
    margin: 0 15px; } }

@media (max-width: 480px) {
  .main {
    margin: 0; } }

.header {
  padding-top: 15px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.15); }
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 20px 30px; }
  .header__logo {
    font-size: 54px; }
  .header__menu {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: flex-end; }
    .header__menu li {
      list-style: none; }
      .header__menu li:last-child a {
        padding-right: 0; }
    .header__menu a {
      padding-right: 10px; }

@media (max-width: 780px) {
  .header__wrapper {
    padding: 5px 20px;
    margin: 0 15px; } }

@media (max-width: 480px) {
  .header {
    padding: 0; }
    .header__menu {
      align-items: center; }
    .header__wrapper {
      margin: 0;
      padding: 5px 15px; }
    .header__logo {
      font-size: 30px; } }

.content {
  background-color: #ffffff;
  padding: 20px; }
  .content h1 {
    font-size: 24px;
    padding-bottom: 20px;
    margin: 0;
    border-bottom: 3px solid #cccccc; }
  .content p {
    margin-bottom: 20px; }
  .content img {
    padding: 0 20px 20px 0; }

@media (max-width: 480px) {
  .content {
    padding: 15px; } }

.left-menu {
  background-color: #cccccc;
  font-size: 16px;
  min-width: 200px; }
  .left-menu ul {
    margin: 0;
    padding: 0; }
  .left-menu li {
    list-style: none;
    padding: 3px 5px;
    background-color: #bdbdbd;
    border-bottom: 1px solid #cccccc; }
    .left-menu li.current {
      background-color: #e9e8e8; }
  .left-menu a {
    padding: 5px;
    display: block;
    text-decoration: none; }
    .left-menu a:hover {
      text-decoration: underline; }
  .left-menu p {
    padding: 5px;
    display: block;
    margin: 0;
    color: #6c6c6c; }

@media (max-width: 780px) {
  .left-menu {
    background-color: #bdbdbd; }
    .left-menu ul {
      padding: 5px 20px;
      display: flex; }
    .left-menu li {
      border-bottom: none; }
    .left-menu li:first-child, .left-menu a:first-child {
      padding-left: 0; } }

@media (max-width: 480px) {
  .left-menu {
    font-size: 12px; } }

.right-menu {
  background-color: #cccccc;
  padding: 20px 10px;
  min-width: 200px; }
  .right-menu__item {
    margin-bottom: 30px; }
    .right-menu__item:last-child {
      margin: 0; }
  .right-menu h2 {
    font-size: 24px;
    margin: 0 0 20px;
    border-bottom: 3px solid #ffffff; }
  .right-menu a {
    font-size: 16px;
    color: #333333; }
  .right-menu p {
    margin: 0; }

@media (max-width: 780px) {
  .right-menu {
    padding: 20px 20px 40px; }
    .right-menu__items {
      display: flex; }
    .right-menu__item {
      margin: 0 10px 0 0; } }

@media (max-width: 480px) {
  .right-menu {
    padding: 20px; }
    .right-menu__items {
      display: block; }
    .right-menu__item {
      margin-bottom: 15px; } }

.footer {
  color: #f0f0f0;
  font-size: 14px;
  padding: 15px 0;
  text-align: center; }

/*# sourceMappingURL=style.css.map */