header.header
	.header__wrapper
		a(href="/" class="header__logo") LOGO
		ul.header__menu
			li
				a(href="/top-menu/item-1") Menu 1
			li
				a(href="/top-menu/item-2") Menu 2
			li
				a(href="/top-menu/item-3") Menu 3

