mixin left-menu-mixin(currentUrl, items)
	.left-menu
		if items.length
			ul
				each item in items
					if (currentUrl === item.url)
						li(class='left-menu__current-item')
							.left-menu__current-text= item.text
					else
						li
							a(href=item.url)= item.text
