extends layout

block content
	.content
		h1= title
		p Fusce commodo neque elit, ac hendrerit odio vulputate a. Integer adipiscing, lacus vitae consectetur vestibulum, erat massa fermentum urna, et congue sapien arcu ac lacus. Nam fringilla rutrum aliquam. Praesent volutpat ante nunc, hendrerit dictum diam mollis id. Nullam viverra tristique mattis. Nullam auctor vulputate ornare. Nullam sollicitudin, libero non tempus porttitor, libero felis luctus dolor, sit amet porta tellus magna ut diam. Duis auctor accumsan sapien quis gravida. Phasellus faucibus mi at varius aliquam. Nullam cursus ac neque quis elementum. Donec velit ligula, porta at arcu consequat, congue auctor felis. Ut vestibulum varius magna, non condimentum est porta non. Etiam ac malesuada erat, at egestas ligula.

		div
			img(src="/images/img.jpg" style="float:left")
			p Suspendisse non neque ipsum. Donec ut sem quis nisi molestie molestie. Mauris nec odio porta, tincidunt risus quis, cursus eros. Suspendisse volutpat vel velit vitae pharetra. Maecenas consequat urna a sagittis vulputate. Ut pulvinar commodo lacus, non rutrum velit sagittis eu. Phasellus non mi sit amet mi adipiscing bibendum. Nullam aliquam tempus ultrices. Cras in magna lacinia augue auctor eleifend. Cras est ante, faucibus ut ultrices at, lobortis vitae nisl. Nunc at tortor tristique, congue diam id, ornare ipsum. Donec neque turpis, ultricies vitae tincidunt ac, placerat a ipsum. Cras eu ipsum varius, tempus est sed, rhoncus ante. Sed ut ultrices purus. Nunc iaculis fermentum leo, at egestas mauris tincidunt eu. Vestibulum eros nisi, tempor eget fermentum eget, blandit et libero.
			div(style="clear:both")

		p Phasellus nisl quam, tincidunt id iaculis non, condimentum vel lorem. Sed laoreet convallis risus in semper. Quisque ullamcorper libero eu fermentum malesuada. Quisque consequat est diam, sed aliquam odio mattis in. Vivamus adipiscing, metus at pharetra faucibus, ante nisl pharetra tortor, quis sodales metus nisi quis enim. Sed non leo eu diam semper condimentum. Nam et lacus nec felis dapibus dapibus eget in ante. Maecenas augue elit, consectetur volutpat dui ut, pellentesque porttitor nulla. Pellentesque sed nibh id lorem volutpat consequat. Sed dui velit, lacinia luctus varius ac, placerat vitae sapien. Mauris gravida erat ac libero suscipit varius. Cras ac nisl sollicitudin dolor venenatis bibendum ac 
